@import "tailwindcss";

@theme {
  --font-sans: var(--font-poppins), system-ui, sans-serif;
}

:root {
  --foreground: #171717;
  --background: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
}
